NODE_ENV=development
PORT=3000
HOST=0.0.0.0
DATABASE=mongodb://localhost:27017
JWT_SECRET=supersecret
LOG_LEVEL=info
LOKI_APP_NAME=test
LOKI_HOST=loki.com
LOKI_USERNAME=test
LOKI_PASSWORD=test
POSTHOG_API_KEY=test
POSTHOG_HOST=us.posthog.com
CORS_ORIGINS=["http://localhost:3001", "http://localhost:3002"]
POSTMARK_API_KEY=""
