@import 'tailwindcss';
@reference './color-variables.css';

@theme {
  /* Gray Light Mode */
  --color-gray-light-mode-25: var(--color-gray-light-25);
  --color-gray-light-mode-50: var(--color-gray-light-50);
  --color-gray-light-mode-100: var(--color-gray-light-100);
  --color-gray-light-mode-200: var(--color-gray-light-200);
  --color-gray-light-mode-300: var(--color-gray-light-300);
  --color-gray-light-mode-400: var(--color-gray-light-400);
  --color-gray-light-mode-500: var(--color-gray-light-500);
  --color-gray-light-mode-600: var(--color-gray-light-600);
  --color-gray-light-mode-700: var(--color-gray-light-700);
  --color-gray-light-mode-800: var(--color-gray-light-800);
  --color-gray-light-mode-900: var(--color-gray-light-900);
  --color-gray-light-mode-950: var(--color-gray-light-950);

  /* Gray Dark Mode */
  --color-gray-dark-mode-25: var(--color-gray-dark-25);
  --color-gray-dark-mode-50: var(--color-gray-dark-50);
  --color-gray-dark-mode-100: var(--color-gray-dark-100);
  --color-gray-dark-mode-200: var(--color-gray-dark-200);
  --color-gray-dark-mode-300: var(--color-gray-dark-300);
  --color-gray-dark-mode-400: var(--color-gray-dark-400);
  --color-gray-dark-mode-500: var(--color-gray-dark-500);
  --color-gray-dark-mode-600: var(--color-gray-dark-600);
  --color-gray-dark-mode-700: var(--color-gray-dark-700);
  --color-gray-dark-mode-800: var(--color-gray-dark-800);
  --color-gray-dark-mode-900: var(--color-gray-dark-900);
  --color-gray-dark-mode-950: var(--color-gray-dark-950);

  /* Font Family */
  --font-family-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Background Gradients */
@utility gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility gradient-conic {
  background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}