NEXT_PUBLIC_API_URL=toBeModified
# when using PostHog:
NEXT_PUBLIC_POSTHOG_KEY=toBeModified
NEXT_PUBLIC_POSTHOG_HOST=toBeModified
# when using growthbook:
NEXT_PUBLIC_API_HOST=toBeModified
NEXT_PUBLIC_CLIENT_KEY=toBeModified